<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    <link rel="modulepreload" href="{{ '/static/main.js' | url }}">
    <link rel="stylesheet" href="{{ '/static/style.css' | url }}" />
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    {% include "meta.njk" %}
  </head>

  <body>

    {% include "header.njk" %}

    <div  class="py-16 px-4 mx-auto max-w-[1600px]" >
        {{ content | safe }}
    </div>

    {% include "footer.njk" %}

    <script type="module" src="{{ '/static/main.js' | url }}"></script>
    
  </body>
</html>
